<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.20.0" targetFramework="net461" allowedVersions="[3.20.0]" />
  <package id="Castle.Core" version="3.3.1" targetFramework="net461" allowedVersions="[3.3.1]" />
  <package id="FsCheck" version="2.8.0" targetFramework="net461" />
  <package id="FSharp.Core" version="4.1.0.2" targetFramework="net461" />
  <package id="NSubstitute" version="1.8.1.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net461" />
  <package id="TestStack.Dossier" version="3.4.0" targetFramework="net461" />
</packages>